/* styles.css */

/*TOPIC DESCRIPTION PART*/

.box-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*height: 100vh; !* Set the height to 100% of the viewport height *!*/
}

.box {
    width: 95%;
    max-width: 2000px;
    height: 250px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 2px #5B5B5B;
}

.image-container {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    border: 4px solid white; /* Border color for the circular image */
    border-radius: 50%; /* Ensure the border follows the circular shape */
    overflow: hidden; /* Hide the overflow from the circular shape */
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; /* Ensure the image covers the entire circular area */
}

.text-box {
    box-shadow: 0 0 5px 2px #5B5B5B;
    height: 95%;
    margin-left: 20px;
    border-radius: 20px;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.8); /* Use rgba to set a transparent background color */
    padding: 20px; /* Add padding to the text-box */
}

/* Additional styles for text inside the box */
.text-box h2 {
    margin-bottom: 10px; /* Add margin to the bottom of the heading */
}

.text-box p {
    padding-top: 10px;
    margin: 0; /* Remove default margin from the paragraphs */
}

/*TOPIC VIDEO LIST PART*/
.big-box {
    width: 95%;
    max-width: 2000px; /* Adjust the maximum width as needed */
    /*border: 2px solid #3498db;*/
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}

.small-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.small-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the start of the cross axis (left) */
    width: calc(32.5% - 10px);
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 2px #5B5B5B;
    text-align: center;
}

.small-box img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.small-box-content {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.small-box-name {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.percentage-text {
    color: #3498db;
    font-size: 20px;
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ecf0f1;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
}

.progress-bar-inner {
    height: 100%;
    width: 50%; /* Set the progress value as a percentage */
    background-color: #3498db;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #3498db;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}