body {
    font-family: "Poppins-SemiBold", Helvetica, serif;
}

/*Top content*/
.top-content {
    display: flex;
    background-image: url("../assets/images/banner_home.png");
    width: 100vw;
    height: 326px;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
}

.search-group {
    width: 60vw;
    margin: 40px auto 40px auto;

}

.search-box {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.search-term {
    border: 0;
    flex: 1;
    margin: 0 0 0 10px;
    height: 60px;
    color: #82839a99;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 20px;
}

.search-option-button {
    background-color: #ffffff;
    border: 0;
    border-radius: 12px;
    margin: 5px 5px 5px 10px;
    height: 50px;
    width: 150px;
    color: #82839a99;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
}

.search-button {
    background-color: #49bbbd;
    border: 0;
    border-radius: 12px;
    margin: 5px 5px 5px 10px;
    height: 50px;
    width: 183px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
}

.topic-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.topic-item {
    background-color: #ffffff;
    border-radius: 10px;
    height: 60px;
    min-width: 250px;
    flex-basis: 19%;
    color: #252641;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px;
}

/*Advertisement content*/
.advertisement {
    background-color: #ebf5ff;
    width: 100vw;
    height: 600px;
    margin-bottom: 150px;
    display: flex;
}

.paragraph {
    width: 45vw;
    margin: 60px 20px 20px 50px;
    text-align: start;
}

.p1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.highlight {
    color: #49bbbd;
    font-weight: bold;
    font-size: 24px;
}

h1 {
    color: #2f327d;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 0;
    width: 600px;
}

.p2 {
    margin-top: 10px;
    color: #696983;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 32px;
    width: 600px;
}

.start-btn {
    background-color: #49bbbd;
    border: 0;
    border-radius: 12px;
    height: 63px;
    width: 236px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    margin-top: 30px;
}

.image {
    border-radius: 20px;
    width: 45vw;
    height: 70vh;
    object-fit: cover;
    margin: auto;
}

/* Topic content */

.middle-content {
    background-color: #ebf5ff;
    width: 100vw;
    height: 140vh;
    margin-bottom: 50px;
    padding: 70px 70px 20px 70px;
}

.topic-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
}

.see-all {
    color: #49bbbd;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
}

.group-blog {
    display: flex;
    justify-content: space-between;
}

.blog {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 19px 47px #2f327d1a;
    /* height: 100vh; */
    width: 39vw;
}

.blog .blog-image {
    border-radius: 20px;
    width: 33vw;
    height: 48vh;
    object-fit: cover;
    margin-top: 30px;
    margin-bottom: 10px;
}

.blog h3 {
    color: #252641;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
    margin-left: 20px;
    /* width: 600px; */
    text-align: left;
}

.blog .p3 {
    color: #696983;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 36px;
    margin-left: 20px;
    /* width: 600px; */
    text-align: left;
}

.blog .blog-footer {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.blog .read-more {
    color: #696983;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 36px;
    text-decoration: underline;
}

.blog .view-count {
    color: #696983;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 36px;
}

.middle-content .nav {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.middle-content .nav-btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #49bbbd;
    color: #FFFFFF;
    text-align: center;
    margin: 5px;
    border: none;
}

.middle-content .nav-btn:focus {
    border: none;
    outline: none;
}

.middle-content .nav-btn:active {
    background-color: #69d5d6;
}

.middle-content .nav-btn:hover {
    border: none;
}

.middle-content .nav-btn:visited {
    border: none;
}


.middle-content .nav-btn .btn-fail {
    background-color: #99d7dd;
    border: none;
}


/* Recent videos */

.bottom-content {
    width: 100vw;
    height: 800px;
    margin-bottom: 50px;
    padding: 70px 70px 20px 70px;
}

.video-group {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.video {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 19px 47px #0000001a;
    height: 500px;
    width: 320px;
    padding: 15px;
}

.video-image {
    margin-top: 20px;
    border-radius: 10px;
    height: 190px;
    object-fit: cover;
    width: 280px;
}

.video-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #696983;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

h4 {
    color: #252641;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    width: 324px;
    text-align: left;
}

.p4 {
    color: #696983;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 32px;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    /*display: none;*/
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    min-width: 250px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown button:hover {
    background-color: #ddd;
}