.loginContainer {
    display: flex;
}

.login-left {
    margin: 20px;
    position: relative;
    flex: 1;
}

.loginContainer img {
    width: 100%;
    position: relative;
}

.img-text {
    position: absolute;
    left: 60px;
    bottom: 70px;
    color: #fff;
}

.img-text h2 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 240%;
}

.img-text p {
    letter-spacing: 1px;
}

.login-right {
    text-align: center;
    margin-top: 70px;
    justify-content: center;
    flex: 1;
}

.option {
    display: flex;
    margin: 20px 25%;
    border-radius: 33px;
    background: rgba(73, 187, 189, 0.60);
    width: 329px;
    height: 59px;
    padding: 8px;
    justify-content: space-between;

}

.login,
.register {
    color: #fff;
    margin: 0 50px 0 10px;
    background: none;
    padding-top: 10px;

}

.visited {
    border-radius: 33px;
    background: #49BBBD;
    width: 40%;
    border: none;
    outline: none;
}

.visited:hover {
    cursor: pointer;
}

.visited:active {
    transform: translateY(4px);
}

.login-right .desc {
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 400;
    /* text-align: left; */
    /* width: 80%; */
    margin: 70px 0px 0px 0px;
}

form {
    margin: 30px 0px 0px 15%;
    text-align: left;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

form .inputText{
    border-radius: 40px;
    border: 1px solid #49BBBD;
    background: #FFF;
    width: 435px;
    height: 54px;
    padding: 0 20px;
    margin-bottom: 20px;
}

form button {
    border-radius: 36px;
    background: #49BBBD;
    width: 232px;
    height: 49px;
    flex-shrink: 0;
    color: #fff;
    border: none;
}

.form-bottom{
    font-weight: 400;
    margin: 0px 0px 5px 5px;
    display: flex;
}

.forgot-pwd{
    color: #49BBBD;
    margin-left: 170px;
}

#sub_btn{
    margin-top: 40px;
}