.landingContainer .landingHeader .bg {
    width: 100%;
    height: auto;
}

.header-left,
.landingContainer .header-right {
    position: absolute;
    top: 0;
}

.landingContainer .header-left {
    margin: 30px 0 0 70px;
}

.landingContainer .header-left:hover {
    cursor: pointer;
}

.landingContainer .header-right {
    right: 100px;
    top: 20px
}

.landingContainer .header-right button {
    margin: 10px;
    width: 110px;
    height: 45px;
    border-radius: 80px;
    border: none;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.landingContainer .login {
    background: conic-gradient(from 90deg at 50% 100%, #FFF 0deg, #FFF 360deg);
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.03);
    color: #5B5B5B;
}

.landingContainer .register {
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.03);
    color: #FFF;
}

.landingContainer .header-body {
    position: absolute;
    top: 40%;
    left: 90px;
}

.landingContainer .header-body .title {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;

}

.landingContainer .header-body .desc {
    color: #FFF;
    font-size: 17px;
    font-weight: 300;
    margin-top: 20px;
}

.landingContainer .header-button button {
    border-radius: 80px;
    background: rgba(255, 255, 255, 0.30);
    width: 150px;
    height: 50px;
    border: none;
    font-weight: 500;
    color: #FFF;
}

.landingContainer .header-button {
    font-size: 20px;
    margin-top: 40px;
    display: flex;
}

.landingContainer .header-button img {
    width: 130px;
    height: auto;
    margin-top: -25px;
    margin-left: 20px;
}

.landingContainer .header-button img:hover {
    cursor: pointer;

}

.landingContainer .watch-work {
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.landingContainer .watch-work_text {
    font-weight: 400;
    margin: 12px 22px 0 -25px;
}