.historyContainer {
    display: flex;
  }
  .historyContainer a{
    text-decoration: none;
  }
  
  .historyContainer .tasksBar {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }
  
  .historyContent {
    flex: 4;
  }
  
  /* Task bar */
  .historyContainer .task {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    color: #252641;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
    border: none;
    width: 100%;
  }
  .historyContainer .task-1 {
    background: #49bbbd;
  }
  .historyContainer .task-2 {
    background: rgba(165, 97, 7, 0.3);
    color: #fff;

  }
  .historyContainer .task-3 {
    background: rgba(157, 204, 255, 0.3);
  }
  .historyContainer .task-4 {
    background: rgba(238, 100, 91, 0.3);
  }
  .historyContainer .task img {
    margin-right: 10px;
    width: 20px;
    margin-left: 8px;
  }
  .historyContainer .task:hover {
    cursor: pointer;
    background: #c0e3e4;
    color: #fff;
  }
  .historyContainer .task:active {
    border: none;
    color: #252641;
  }
  .historyContainer button:focus {
    outline: none;
  }
  
  /* Content, history  page on the right hand side */
  .historyContainer .contentHeader {
    background: #49bbbd;
    height: 143px;
    margin-top: 10px;
  }
  
  
  
  /* history info */
  .historyContainer .contentBody {
    background: rgba(157, 204, 255, 0.2);
  }

  .historyContainer .contentHeader{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .historyContainer .contentTitle{
    font-size: 40px;
    font-weight: 700;
    color: #3E3E3E;
    text-align: center;
  }
 