.footer {
    background-color: #252641;
    height: 300px;
    margin-top: 30px;
}

.footer-top {
    display: flex;
    color: #FFF;
    justify-content: center;
    padding-top: 45px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.88px;
}

.footer img {
    width: 55px;
    height: auto;
}

.vertical-line {
    border-left: 1px solid #626381;
    ;
    height: 50px;
    margin: 0px 40px 0px 40px;
}

.subscribe {
    margin-top: 40px;
    color: #B2B3CF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.04px;
}

.footer-body .email{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer-body input {
    border-radius: 80px;
    border: 1px solid #83839A;
    background-color: #252641;
    padding-left: 20px;
}

.footer-body button{
    border-radius: 60px;
    background: #49BBBD;
    border: none;
    margin-left: 20px;
    width: 100px;
    color: #FFF;
}

.footer-body button:hover{
    cursor: pointer;
}

.footer-bottom-texts, .company{
    display: flex;
    color: #B2B3CF;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.88px;
    justify-content: center;
}

.ft-text{
    margin: 20px 10px 3px 10px;
}

.company{
    font-size: 13px;
}