.header {
    display: flex;
    height: 100px;
    color: #5B5B5B;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1px;
}

.header {
    .header-left {
        flex: 2;
        margin: 20px 40px;
    }

;

    .header-left img {
        width: 80px;
    }

    .header-right {
        flex: 2;
        display: flex;
        margin-right: 30px;
        justify-content: right;
        align-items: center;

        .header-right-item {
            margin: 0 40px;
            cursor: pointer;

        }

        .user {
            display: flex;
            align-items: center;
            color: #5B5B5B;
            font-size: 16px;
            font-weight: 500;

        }

        .user img {
            width: 45px;
            margin-right: 6px;
        }
    }
;
}

.header a {
    color: #5B5B5B;
}

.header a:hover {
    text-decoration: none;
    color: #5B5B5B
}

.header a:visited {
    color: #5B5B5B;
}



.header-right-item .profile {
    display: flex;
    align-items: center;
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 400;
    width: 120px;
    visibility: hidden;
    border-top: 1px solid #E5E5E5;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
}
.header-right-item .logout{
    display: flex;
    align-items: center;
    color: #5B5B5B;
    font-size: 16px;
    width: 120px;
    font-weight: 400;
    visibility: hidden;
    border-top: 1px solid #E5E5E5;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-top: 40px;
}

.header-right-item .profile:hover, .header-right-item .logout:hover{
    background: #f5f3f3;
    border-radius: 4px;
    padding : 5px;

}

.header-right-item .active{
    visibility: visible;
}
